@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  background-color: white;
  position: relative;
}
/*
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-attachment: fixed;
  background-size: 100% 100%;
}*/

.form-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background: #2551c0;
  padding: 50px 60px 70px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.form-box h1{
  font-size: 50px;
  margin-bottom: 60px;
  color: #fff;
  position: relative;
}

.form-box h1::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-field {
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 25px;
  display: flex;
  border-radius: 3px;
}

.input-field i{
  margin: 8px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
}

/*.input-group button {
  padding: 6px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 250px;
}*/

.btn-field{
  width: 100%;
  display: flex;
  justify-content: center;
}


.btn-field button{
  flex-basis: 10%;
  background-color: #fff;
  color: #2551c0;
  height: 36px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
}